/*GERAL*/
body{
    background: #27262C;
    color: white;
}

/* PAGINA PRINCIPAL */
.navbuttons{
    gap: 1vw;
}
.ache-emprego{
    margin: 2%;
    margin-top: 10vw;
    display: flex;
    align-items: center;
}
.ache-emprego h1{
    margin-right: 3%;
    width: 55%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.ache-emprego h1 button{
    margin-top: 5%;
    font-size: 1.3rem;
}
.ache-emprego .botao-principal{
    display: flex;
    justify-content: space-around;
}

.tutorial{
    display: flex;
    justify-content: center;
    -ms-flex-align: center;
    gap: 1.5vw;
    margin-top: 10vw;
}
.tutorial .blocos{
    width: 260px;
    height: auto;
    /*background: linear-gradient(122.33deg, #a3bc31 30.62%, #72C4FF 100%);*/
    background: linear-gradient(122.33deg, #6D7549 30.62%, #1c78bb 100%);
    color: white;
    text-shadow: 0.2em 0.2em 0.2em black;
    padding: 30px;
    border-radius: 10%
}

.depoimento .texto blockquote.quote{
    position: relative; 
    text-align: center;
    padding: 1rem 1.2rem;
    width: 80%;  /* create space for the quotes */
    color: white;
    margin: 1rem auto 2rem;
}
.depoimento .texto blockquote.quote:before,
.depoimento .texto blockquote.quote:after{
    font-family: FontAwesome;
    position: absolute;
    color: #039be5;
    font-size: 34px;
}
.depoimento .texto blockquote.EN:before{
    content: "\f10d";
    top: -12px;
    margin-right: -20px;
    right: 100%;
}
.depoimento .texto blockquote.EN:after{
    content: "\f10e";
    margin-left: -20px;
    left: 100%;  
    top: auto;
    bottom: -20px;
}
.depoimento{
    display: flex;
    margin: 3%;
    margin-top: 10vw;
}
.depoimento .texto{
    min-width: 50%;
    align-self: center;
}
.depoimento img{
    width: 70%;
    margin-left: 20%;
}

.ajuda-contato{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    margin-top: 10vw;
    margin-bottom: 10vw;
}
.ajuda-contato img{
    width: 50px;
    height: 50px;
    border-radius: 10%;
}
.ajuda-contato .ajuda{
    max-width: 60%;
    margin-right: 10vw;
}
.ajuda-contato .contato{
    max-width: 40%;
}
/*PAGINA INDEX (CADASTRADOS)*/
.index-blocos{
    display: flex; 
    max-width: 80%;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 64px rgba(0, 0, 0, 0.7));
    padding: 0px;
    border-radius: 20px;
    background-color: #627b37;
    
}
.index-blocos .index-bloco{
    width: 24vw;
    text-align: center;
    color: black;
    height: 130px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.index-bloco h5{
    margin: 0;
    font-size: 24px;
}
.index-bloco p{
    margin: 0;
    font-size: 20px;
}
.index-nome-trabalhador{
    background-color: #a9cd7d;
    border-radius: 20px;
    
}
.filtros{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    align-self: center;
    padding-left: 20%;
    padding-bottom: 8vw;
}
.limparFiltros{
    align-self: center;
}
/*PAGINA /REGISTRO*/
/*PAGINA LOGIN*/
.login{
    padding: 5%;
    /*max-width: 700px;*/
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
}


/*Responsividade*/
@media (max-width: 700px) {
    /*PAGINA PRINCIPAL*/
    .ache-emprego{
        flex-direction: column;
        margin-top: 2%;
    }
    .ache-emprego img{
        min-width: 70%;
    }
    .ache-emprego h1{
        min-width: 70%;
    }
    .ache-emprego h1 button{
        margin-top: 3vw;
    }
    .ache-emprego .botao-principal{
        flex-direction: column;
        justify-content: space-around;
    }
    .tutorial{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15vw;
    }
    .tutorial .blocos{
        max-width: 260px;
        height: auto;
        padding: 20px;
    }
    .depoimento{
        flex-direction: column;
    }
    .depoimento img{
        width: 80%;
        margin: 10%;
    }
    .ajuda-contato{
        display: flex;
        flex-direction: column;
    }
    .ajuda-contato .ajuda{
        min-width: 80vw;
        text-align: center;
        padding-left: 12vw;
    }
    .ajuda-contato .contato h6{
        width: 50vw;
        margin-top: 8px;
    }
    .ajuda-contato .contato{
        margin-top: 8vw;
        display: -webkit-box;
        text-align: center;
    }
    /*PAGINA LOGIN*/
    .login{
        padding: 5%;
        margin: 0%;
        width: 100vw;
    }
    /*PAGINA INDEX (CADASTRADOS)*/
    .index-blocos{
        flex-direction: column;
        align-items: center;
    }
    .index-blocos .index-bloco{
        min-width: 100%;
    }
    .filtros{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
    }
    .filtros form{
        flex-direction: column;
    }
    .limparFiltros{

    }
}

