{% extends "template.html" %}
{% block conteudo %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-fill">
    <a class="navbar-brand" href="/" style="padding-left: 3%;">
      <img src="../static/BuscaBicoLogo.jpeg" style="width: 166px; height: 52px;" alt="">
    </a>
  </nav>
<div class="page-header">
    <h1 style="text-align: center; margin: 5vw;">{{ titulo }}</h1>
</div>
        <!-- <table class="table table-striped table-responsive table-bordered" style="color:white">
            <div style="background-color: green;">
            <thead class="thead-default">
                {% for trabalhador in trabalhador %}
                
                <tr>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Email</th>
                    <th>Data de Cadastro</th>
                </tr>
                
            </thead>
            <tbody>
                
                <tr>
                    <td style="color:white">{{ trabalhador[3] }} {{ trabalhador[4] }}</td>
                    <td style="color:white">{{ trabalhador[5] }}</td>
                    <td style="color:white">{{ trabalhador[0] }}</td>
                    <td style="color:white">{{ trabalhador[1] }}</td>
                </tr>
                
                {% endfor %}
            </tbody>
            </div>

        </table> -->

{% for trabalhador in trabalhador %}
<div class="container index-blocos">
    <div class="index-nome-trabalho index-bloco">
        <h5>Nome</h1>
        <p>{{ trabalhador[3] }}</p>
    </div>
    <div class="index-endereco index-bloco">
        <h5>Endereço</h1>
        <p>{{ trabalhador[5] }}</p>
    </div>
    <div class="index-data-cadastro index-bloco">
        <h5>Email</h1>
        <p>{{ trabalhador[0] }}</p>
    </div>
    <div class="contato index-bloco">
        <h5>Data de Cadastro</h1>
        <p>{{ trabalhador[1] }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}