{% extends "template.html" %}
{% block conteudo %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-fill">
    <a class="navbar-brand" href="/" style="padding-left: 3%;">
      <img src="../static/BuscaBicoLogo.jpeg" style="width: 166px; height: 52px;" alt="">
    </a>
  </nav>
<div class="page-header">
    <h1 style="text-align: center; margin: 5vw;">{{ titulo }}</h1>
</div>

 <div style="display: flex; justify-content: center; padding-bottom: 8vw; max-width: 80%; align-self: center; padding-left: 20%;">
        <form action="/index_filtro" method="post">
        <select method="post" class="form-control" name="trabalhoFiltro">
          {% for trabalho in trabalho %}
          <option>{{ trabalho[0] }}</option>
          {% endfor %}
          
        </select>
        <input type="submit" name="acao" value="filtrar">
        </form>
        
  </div>

{% for trabalhador in trabalhador %}
<div class="container index-blocos">
    <div class="index-nome-trabalhador index-bloco">
        <h5>{{ trabalhador[1] }} {{ trabalhador[2] }}</h1>
        <h5>{{ trabalhador[5] }}</h5>
    </div>
    <div class="index-endereco index-bloco">
        <h5>Endereço</h1>
        <p>{{ trabalhador[3] }}</p>
    </div>
    <div class="index-email index-bloco">
        <h5>Email</h1>
        <p>{{ trabalhador[4] }}</p>
    </div>
    <div class="index-data-cadastro index-bloco">
        <h5>Data de Cadastro</h1>
        <p>{{ trabalhador[0] }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}