{% extends "template.html" %}
{% block conteudo %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-fill">
    <a class="navbar-brand" href="/" style="padding-left: 3%;">
      <img src="../static/BuscaBicoLogo.jpeg" style="width: 166px; height: 52px;" alt="">
    </a>
    <button class="navbar-toggler" style="margin-right: 5%;" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="justify-content: space-between;" id="navbarNavAltMarkup">
      <div class="navbar-nav navbuttons">
        <a class="nav-item nav-link active navbutton btn" href="#">Home</a>
        <a class="nav-item nav-link active navbutton btn" href="#depoimento">Depoimento</a>
        <a class="nav-item nav-link active navbutton btn" href="#ajuda-contato">Contato</a>
      </div>
      <div class="navbar ">
        <form class="container-fluid">
            <a href="/login"><button class="btn btn-outline-success me-2" type="button">Entrar</button></a>
            <a href="/registro"><button class="btn btn-outline-success me-2" type="button">Registrar</button></a>
            <a href="/logout"><button class="btn btn-outline-success me-2" type="button">Logout</button></a>
        </form>
    </div>
    </div>
  </nav>

  <div class="ache-emprego">
    <h1>Divulgue aqui o seu serviço e seja contratado rapidamente!
      <div class="botao-principal">
        <a href="/cadastro"><br><button class="btn btn-outline-success" type="button">Divulgue seu serviço</br></button></a>
        <a href="/index"><br><button class="btn btn-outline-success" type="button">Ache um trabalhador</br></button></a>
      </div>
    </h1>
      
    <img src="../static/ProcurarEmprego.jpeg" alt="" style="max-width: 40%;">
  </div>

<div class="tutorial">
    <div class="blocos">
      <h4>Crie uma conta grátis</h4>
      <p>Você só precisa de um endereço de e-mail para criar uma conta e começar a criar um anúncio de vaga de emprego.</p>
    </div>
    <div class="blocos">
      <h4>Crie um anúncio de serviço</h4>
      <p>Inclua um título, uma descrição e um local no anúncio de vaga de emprego.</p>
    </div>
    <div class="blocos">
      <h4>Anuncie um serviço</h4>
      <p>Depois de anunciar sua vaga, use nossas ferramentas inovadoras para ajudar a encontrar os talentos ideais.</p>
    </div>
  </div>

  <div class="depoimento" id="depoimento">
    <div class="texto">
      <blockquote class="callout quote EN">
        O Buscabico me ajudou a divulgar e oferecer meus serviços sem precisar de carteira assinada! Foi uma mão na roda para poder arrumar um trabalho e conseguir ganhar um dinheiro extra!
        <cite> - Pedreiro Clovis Da Silva</cite>
      </blockquote>
    </div>
    <div>
      <img src="../static/pedreiro.jpg" alt="">
    </div>
  </div>

  <div class="ajuda-contato container" id="ajuda-contato">
    <div class="ajuda">
      <h4>Estamos aqui para ajudar</h4>
      <p>Nós somos um grupo de Alunos da Universidade Federal De Ouro Preto(UFOP), do curso de sistemas de informação, e observamos que o mercado estava carente de uma ferramenta que possibilitasse com que as pessoas pudessem encontrar serviços sem carteira assinada(bicos), dessa forma decidimos desenvolver o buscabico, que tem como objetivo ajudar as pessoas que querem divulgar seus serviços e aquelas que querem buscar e contratar serviços ofertados! Além de passar nas disciplinas de Engenharia de Software e Banco de Dados I</p>
    </div>
    <div class="contato">
      <h6>Entre em contato</h6>
      <a href="https://web.whatsapp.com/" target="_blank"><img src="../static/whatsapp-logo.png" alt=""></a>
      <a href="https://www.instagram.com/augusto_peu/" target="_blank"><img src="../static/Instagram-logo.png" alt=""></a>
    </div>
</div>
<p style="text-align: center;">Todos os direitos reservados.</p>

{% endblock %}